.bgsite { 
    background: url(USF4E7y-broken-glass-backgrounds.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
    background-color: dimgray;
  }


body { 
    font-family: monospace; 
    font-size: 125%;
}

header {
    color: rgb(21, 19, 105);
    text-align: center;
  }

nav {
    text-align:center;
    align-items: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cadre01 {
    text-align:center;
    margin:0 auto; 
    width:80%;
    max-width: 800px;
    min-width: 400px;
    height:0 auto;
    padding:0px;
    border:4px solid steelblue;
    opacity: 1;
    background-color: wheat;
    }

.cadre02 {
    margin:0 auto; 
    width:90%;
    padding:0px;
    border:4px solid steelblue;
    background-color: wheat;
    display: flow-root;
    vertical-align: middle;
    }

aside {
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    }

article {
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: initial;
    }
